@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Poppins", sans-serif;
    /* font-weight: 100; */
    font-style: normal;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */  
}

.hero {
    /* background-image: url(./assets/images/hero.png);
    background-position: bottom center;
    background-size: cover; 
    background-repeat: no-repeat;
    height: 95vh;  */
}